div{
    width: 300px;
    height: 80px;
    background-color: lightgreen;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border: 4px solid green;
}
p{
    font-size: 20px;
    width:300px;
    color: blue;
    background-color: pink;
    margin: 0 10px;
}